/* *,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.timeline {
  color: black;
  margin-left: 64%;
  /* overflow-x: hidden; */
  padding-bottom: 50px;
}

.images {
  padding-top: 10px;
  max-width: 90%;
  /* overflow: hidden; */
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 5px;
  margin: 0 auto;
  /* margin-left: 2%; */
  padding-top: 50px;
  margin-top: 40px;
  /* background: black; */
}
.timeline ul li::after {
  content: "";
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  z-index: 2;
  /* background: black; */
}
.timeline ul li div {
  box-sizing: border-box;
  position: relative;
  bottom: 0;
  width: 300px;
  /* padding: 20px; */
  /* background: #f8f8ff; */
  /* box-shadow: 4px 13px 30px 1px #c5c5c5; */
  /* border-radius: 5px; */
  display: flex;
  align-items: center;
}
.timeline ul li div time {
  position: absolute;
  /* background: #f5af19; */
  width: 80px;
  height: 30px;
  top: -15px;
  /* border-radius: 5px; */
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
}
.timeline ul li div div {
  /* height: 35vh; */
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.timeline ul li div h1 {
  margin: 0 0 !important;
}

.timeline ul li div div p {
  text-align: center;
}
.timeline ul li div .discovery {
  margin-right: 10px;
}
.timeline ul li:nth-of-type(odd) > div {
  left: 45px;
}
.timeline ul li:nth-of-type(even) > div {
  left: -535px;
}
.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.7s ease-in-out;
  width: 500px;
}
/* .timeline ul li:nth-of-type(odd) div {
  transform: translate3d(120px, -5px, 0) rotate(5deg);
}
.timeline ul li:nth-of-type(even) div {
  transform: translate3d(-120px, -5px, 0) rotate(5deg);
} */

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 1458px) {
  .timeline ul li div {
    width: 35vw;
  }
  .timeline ul li:nth-of-type(odd) > div {
    left: 45px;
  }
  .timeline ul li:nth-of-type(even) > div {
    left: -520px;
  }
  .images {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: 90vw;
    flex-direction: column;
  }
  .timeline ul li div div {
    width: 90%;
    margin: 10px;
  }
  .timeline ul li:nth-of-type(even) > div {
    left: 20px;
  }
}
@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-of-type(even) > div {
    left: 45px;
  }
}
